* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.bg {
    background: url("../images/bg.jpg") no-repeat center center/cover;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    color: white;
    padding: 120px 20px;
}

.hero .btn {
    display: inline-block;
    padding: 12px 25px;
    background: #3498db;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

/* DETAILS */
.details {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.box {
    background: rgba(255,255,255,0.9);
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

/* FORM */
.form-card {
    width: 320px;
    background: rgba(255,255,255,0.95);
    margin: 120px auto;
    padding: 25px;
    text-align: center;
    border-radius: 8px;
}

.form-card input {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

.form-card button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
}

/* BOOKS */
.books {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.book {
    background: white;
    width: 200px;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.book img {
    width: 100%;
    height: 250px;
}
