body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

header {
    background: #2c3e50;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    background: linear-gradient(to right, #3498db, #2ecc71);
    color: white;
    padding: 60px;
    text-align: center;
}

.features {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px;
    width: 220px;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
}

.form-box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

.form-box input {
    width: 90%;
    padding: 8px;
    margin: 8px;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
}

.books {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.book {
    background: white;
    width: 200px;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.book img {
    width: 100%;
    height: 250px;
}

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}
